<%#= link_to "表示名", xxx_path, class: "クラス名" %>
<!--<a class="btn btn-primary btn-lg" href="/posts#index" role="button">投稿一覧を見る</a>-->

<% breadcrumb :root %>
<div class="col-lg-8 offset-lg-2 mt-5">
  <div class="text-container">
    <div class="container">
      <%# ボタンのループ処理でリファクタリング %>
      <% buttons = [
        { text: "文鳥の魅力", path: bird_path },
        { text: "みんなの投稿を見る", path: posts_path },
        { text: "掲示板を見る", path: boards_path },
        { text: "投稿する", path: new_post_path }
      ] %>

      <% buttons.each do |button| %>
        <div class='row mb-5'>
          <div class="d-grid gap-2 col-6 mx-auto">
            <%= link_to button[:text], button[:path], class: "btn btn-primary btn-lg" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
