<% content_for(:title, @page_title) %>

<div class="container mt-5">
  <div class="row">
    <div class="text-container">
      <h1><%= @user.name %>の投稿一覧</h1>
      <% if @posts.present? %>
        <div class="row">
          <% @posts.each do |post| %>
            <%= render partial: 'posts/post_index', locals: { post: post } %>
          <% end %>
        </div>
      <% else %>
        <div class="mb-3">投稿がありません</div>
      <% end %>
    </div>
    <%= paginate @posts, theme: 'bootstrap-5' %>
  </div>
</div>
