<% content_for(:title, t('.title')) %>
<div class="container mx-auto px-5 flex justify-center align-center">
  <div class="w-full max-w-md mt-10 mb-32">
    <div class="text-center mb-3">
      <h1 class="text-lg font-bold tracking-wider mb-4">文鳥の魅力とは</h1>
    </div>
    <div class="p-2">
      <h2 class="chapter">犬や猫と同じように</h2>
      <h3 class="chapter">文鳥も雛の時から飼育すればよく懐くんです</h3>
      <div class="leading-relaxed">
        <li>一度パートナーと認めた相手にはどこまでも寄り添います</li>
        <li>とても綺麗好き、綺麗好きな文鳥は1日に1回以上は水浴びをします、その為動物特有の匂いなども少ないです</li>
        <li>寿命が結構長い、意外かもしれませんが文鳥は小鳥の中では寿命が長いです。文鳥の種類にもよりますが白文鳥の場合7〜10年くらいです</li>
        <li>鳴き声が小さい、文鳥は喋ることはしないですし、鳴き声もかなり小さいです。その為集合住宅などに住んでいる場合にも騒音問題をそこまで気にせずに飼育することが出来ます</li>
      </div>
    </div>    