<% content_for(:title, t('.title')) %>
<div class='all-back-image'>
  <div class="container mx-auto px-5 flex justify-center align-center">
    <div class="w-full max-w-md mt-10 mb-32">
      <div class="text-center mb-3">
      <div class="text-container"> <!-- 新しくテキストコンテナを追加 -->
        <h1 class="text-2xl font-bold tracking-wider mb-4">文鳥の魅力とは</h1>
        <h2 class="chapter text-xl font-semibold mt-5">犬や猫と同じように</h2>
        <h3 class="chapter text-lg font-medium mt-2">文鳥も雛の時から飼育すればよく懐くんです</h3>
        <ul class="leading-relaxed mt-4 list-disc list-inside">
          <li>一度パートナーと認めた相手にはどこまでも寄り添います。</li>
          <li>とても綺麗好き。文鳥は1日に1回以上は水浴びをします。そのため、動物特有の匂いなども少ないです。</li>
          <li>寿命が結構長い。意外かもしれませんが、文鳥は小鳥の中では寿命が長いです。文鳥の種類にもよりますが、白文鳥の場合は7〜10年くらいです。</li>
          <li>鳴き声が小さい。文鳥は喋ることはしませんし、鳴き声もかなり小さいです。そのため、集合住宅などに住んでいる場合にも騒音問題を気にせずに飼育できます。</li>
        </ul>
      </div>
    </div>
  </div>
</div>
