<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="text-container">
        <h1><%= t('.title') %></h1>
        <%= render 'board_form', board: @board %>
      </div>
    </div>
  </div>
</div>
